@import '../node_modules/ant-design-vue/dist/antd.less';

@border-radius-base: 6px;
@primary-color: #9D7183;
@info-color: #333132;
@warning-color: #613400;
@menu-highlight-color: rgba(255, 255, 255, 0.8);
@menu-item-color: #E0B8CA;
@highlight-color: #a8071a;
@body-background: #1C1719;
@component-background: #272023;
@heading-color: #F3F3F3;
@text-color: #F3F3F3;
@text-color-secondary: fade(#fff, 65%);
@text-selection-bg: #FFFFFF;
@border-color-base: rgba(255, 255, 255, 0.25);
@border-color-split: #CCAE70;
@layout-body-background: #171717;
@layout-header-background: #272023;
@layout-sider-background: #272023;
@layout-trigger-background: #313232;
@layout-trigger-color: fade(#fff, 80%);
@disabled-color: rgba(255, 255, 255, 0.25);
@background-color-light: fade(#1890ff, 40%);
@background-color-base: #262626;
@item-active-bg: fade(#1890ff, 40%);
@item-hover-bg: fade(#1890ff, 20%);
@btn-default-bg: #262626;
@input-bg: #272023;
@popover-bg: #362F32;
@menu-dark-submenu-bg: #272023;
@table-header-bg: #3a3a3b;
@table-row-hover-bg: #3a3a3b;
@table-selected-row-bg: #3a3a3a;
@table-expanded-row-bg: #3b3b3b;
@tag-default-bg: #262628;
@collapse-header-bg: #362F32;

.ant-select-selection--single {
  height: 48px !important;
  background: rgb(31, 31, 31) !important;
  outline: none !important;
  border: 2px solid rgb(209, 195, 195);
  border-radius: 6px !important;
}
.ant-select-selection:hover {
  border-right-width: 2px !important;
}
.ant-select-selection:focus {
  border-right-width: 2px !important;
}
.ant-select-selection:active {
  border-right-width: 2px !important;
}
.ant-select-focused {
  border-right-width: 2px !important;
}
.ant-select-open .ant-select-selection {
  box-shadow: 0 0 0 0px !important;
}
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
  border-right-width: 2px !important;
  box-shadow: 0 0 0 0px !important;
}
.ant-select-selection__rendered {
  height: 100% !important;
}
.ant-select-selection-selected-value {
  height: 100% !important;
  text-align: center !important;
  line-height: 44px !important;
  font-size: 12px;
  width: 100%;
}
.ant-select-dropdown {
  border-radius: 6px !important;
}
.ant-select-dropdown-menu-active {
  background-color: rgba(59, 51, 51, 0.8) !important;
}
.ant-select-dropdown-menu-item {
  background-color: rgb(31, 31, 31);
  padding: 10px 15px;
}
.ant-select-dropdown-menu-item:first-child {
  border-radius: 4px 4px 0 0 !important;
}
.ant-select-dropdown-menu-item:last-child {
  border-radius: 0 0 4px 4px !important;
}
.ant-select-dropdown-menu-item:hover {
  background-color: rgba(67, 57, 57, 0.8) !important;
}
.ant-select-dropdown-menu-item-selected {
  background-color: rgba(59, 51, 51, 0.8) !important;
}
.ant-select-dropdown-menu-item-group-title {
  background-color: rgb(30, 30, 30);
  line-height: 46px;
  height: 46px;
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
  font-size: 12px;
}
.ant-select-dropdown-menu {
  max-height: 350px !important;
}